.storefront-homepage-contact-section .shcs-wrapper {
  position: relative;
  background-position: center;
  background-repeat: no-repeat; }
  .storefront-homepage-contact-section .shcs-wrapper::before, .storefront-homepage-contact-section .shcs-wrapper::after {
    content: '';
    display: table; }
  .storefront-homepage-contact-section .shcs-wrapper::after {
    clear: both; }

.storefront-homepage-contact-section .shcs-overlay {
  padding: 2.618em; }
  .storefront-homepage-contact-section .shcs-overlay::before, .storefront-homepage-contact-section .shcs-overlay::after {
    content: '';
    display: table; }
  .storefront-homepage-contact-section .shcs-overlay::after {
    clear: both; }

.storefront-homepage-contact-section .shcs-contact-details {
  margin-bottom: 1.618em; }
  .storefront-homepage-contact-section .shcs-contact-details ul {
    list-style-type: none;
    margin: .857em 0 0; }
    .storefront-homepage-contact-section .shcs-contact-details ul li {
      position: relative;
      padding: .53em 0 .53em 2.618em; }
      .storefront-homepage-contact-section .shcs-contact-details ul li:before {
        content: '\f124';
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
        line-height: 2.244;
        font-size: 1.2em;
        font-weight: 700; }
      .storefront-homepage-contact-section .shcs-contact-details ul li.shcs-phone-number:before {
        content: '\f095'; }
      .storefront-homepage-contact-section .shcs-contact-details ul li.shcs-email:before {
        content: '\f0e0'; }

.storefront-homepage-contact-section .shcs-contact-form form,
.storefront-homepage-contact-section .shcs-contact-form .contact-submit {
  margin-bottom: 0; }

.storefront-homepage-contact-section .shcs-contact-form .contact-form-submission {
  margin: 0;
  padding: 0; }

.storefront-2-3 .storefront-homepage-contact-section .shcs-contact-details ul li:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f124"; }

.storefront-2-3 .storefront-homepage-contact-section .shcs-contact-details ul li.shcs-phone-number:before {
  content: "\f095"; }

.storefront-2-3 .storefront-homepage-contact-section .shcs-contact-details ul li.shcs-email:before {
  content: "\f0e0"; }

@media screen and (min-width: 768px) {
  .storefront-homepage-contact-section {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
    .storefront-homepage-contact-section .shcs-overlay {
      padding: 0; }
    .storefront-homepage-contact-section .shcs-contact-details,
    .storefront-homepage-contact-section .shcs-contact-form {
      padding: 4.347826087%; }
    .storefront-homepage-contact-section .shcs-contact-details {
      width: 34.7826086957%;
      float: left;
      margin-bottom: 0; }
    .storefront-homepage-contact-section .shcs-contact-form {
      width: 65.2173913043%;
      float: right;
      margin-right: 0; } }
